In [1]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=57180aa7c28ebcc6735a1c9a6aa5c273a15338ce2c7aaf704dfc11a651354809
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\anaconda\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests) (3.3)

In [2]:
# importing libraries and python package 
from bs4 import BeautifulSoup
import requests
# Sending request to the webpage server to get the source code 
page=requests.get('https://en.wikipedia.org/wiki/Main_Page','https://www.imdb.com/search/title/?groups=top_100&view=simple&sort=moviemeter,desc&start=51&ref_=adv_nxt')
page
#Getting the content from the page 
soup=BeautifulSoup(page.content)
soup
# Scrapping the first header tag 

first_title=soup.find('span',class_='mw-headline')
first_title
first_title.text
# Scrapping all the headers 

title=[]
for i in soup.find_all('span',class_='mw-headline'):
    title.append(i.text)
title

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [51]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.imdb.com/search/title/?groups=top_100&view=simple&sort=moviemeter,desc&ref_=adv_prv')
page
#Getting the content from the page 
soup=BeautifulSoup(page.content)
soup
# scrapping the names of the movie
name=[]
for i in soup.find_all('span',class_='lister-item-header'):
    name.append(i.text.split('|')[0])
name
# scrapping the ratings of all the movies 
ratings=[]
for i in soup.find_all('div',class_='col-imdb-rating'):
    ratings.append(i.text)
ratings
# scrapping the yaer of movie releases
year=[]
for i in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    year.append(i.text)
year

['(1963)',
 '(1931)',
 '(1936)',
 '(1957)',
 '(1940)',
 '(1931)',
 '(1962)',
 '(1957)',
 '(1950)',
 '(1952)',
 '(1954)',
 '(1988)',
 '(1958)',
 '(2010)',
 '(1941)',
 '(1981)',
 '(1954)',
 '(1997)',
 '(1964)',
 '(1988)',
 '(1962)',
 '(2018)',
 '(2006)',
 '(2009)',
 '(1983)',
 '(2016)',
 '(2008)',
 '(1960)',
 '(1980)',
 '(1995)',
 '(1984)',
 '(I) (2017)',
 '(1998)',
 '(2002)',
 '(1942)',
 '(2011)',
 '(1968)',
 '(1997)',
 '(1968)',
 '(1966)',
 '(2002)',
 '(2002)',
 '(2012)',
 '(1991)',
 '(2000)',
 '(2003)',
 '(1995)',
 '(1959)',
 '(1975)',
 '(2001)']

In [52]:
#printing the lengths
print(len(name),len(ratings),len(year))

# making the dataframe 
import pandas as pd
df=pd.DataFrame({'Movie name':name,'Ratings':ratings,'Release year':year})
df

50 50 50

,Movie name,Ratings,Release year
0,\n1.\n\nTengoku to jigoku\n(1963)\n\n,\n\n 8.4\n ...,(1963)
1,\n2.\n\nCity Lights\n(1931)\n\n,\n\n 8.5\n ...,(1931)
2,\n3.\n\nModern Times\n(1936)\n\n,\n\n 8.5\n ...,(1936)
3,\n4.\n\nWitness for the Prosecution\n(1957)\n\n,\n\n 8.4\n ...,(1957)
4,\n5.\n\nThe Great Dictator\n(1940)\n\n,\n\n 8.4\n ...,(1940)
5,\n6.\n\nM - Eine Stadt sucht einen MÃ¶rder\n(19...,\n\n 8.3\n ...,(1931)
6,\n7.\n\nSeppuku\n(1962)\n\n,\n\n 8.6\n ...,(1962)
7,\n8.\n\nPaths of Glory\n(1957)\n\n,\n\n 8.4\n ...,(1957)
8,\n9.\n\nSunset Blvd.\n(1950)\n\n,\n\n 8.4\n ...,(1950)
9,\n10.\n\nSingin' in the Rain\n(1952)\n\n,\n\n 8.3\n ...,(1952)
10,\n11.\n\nRear Window\n(1954)\n\n,\n\n 8.5\n ...,(1954)
11,\n12.\n\nNuovo Cinema Paradiso\n(1988)\n\n,\n\n 8.5\n ...,(1988)
12,\n13.\n\nVertigo\n(1958)\n\n,\n\n 8.3\n ...,(1958)
13,\n14.\n\nToy Story 3\n(2010)\n\n,\n\n 8.3\n ...,(2010)
14,\n15.\n\nCitizen Kane\n(1941)\n\n,\n\n 8.3\n ...,(1941)
15,\n16.\n\nDas Boot\n(1981)\n\n,\n\n 8.4\n ...,(1981)
16,\n17.\n\nShichinin no samurai\n(1954)\n\n,\n\n 8.6\n ...,(1954)
17,\n18.\n\nMononoke-hime\n(1997)\n\n,\n\n 8.4\n ...,(1997)
18,\n19.\n\nDr. Strangelove or: How I Learned to ...,\n\n 8.4\n ...,(1964)
19,\n20.\n\nHotaru no haka\n(1988)\n\n,\n\n 8.5\n ...,(1988)
20,\n21.\n\nLawrence of Arabia\n(1962)\n\n,\n\n 8.3\n ...,(1962)
21,\n22.\n\nCapharnaÃ¼m\n(2018)\n\n,\n\n 8.4\n ...,(2018)
22,\n23.\n\nThe Lives of Others\n(2006)\n\n,\n\n 8.4\n ...,(2006)
23,\n24.\n\n3 Idiots\n(2009)\n\n,\n\n 8.4\n ...,(2009)
24,\n25.\n\nStar Wars: Episode VI - Return of the...,\n\n 8.3\n ...,(1983)
25,\n26.\n\nKimi no Na wa.\n(2016)\n\n,\n\n 8.4\n ...,(2016)
26,\n27.\n\nWALLÂ·E\n(2008)\n\n,\n\n 8.4\n ...,(2008)
27,\n28.\n\nPsycho\n(1960)\n\n,\n\n 8.5\n ...,(1960)
28,\n29.\n\nThe Empire Strikes Back\n(1980)\n\n,\n\n 8.7\n ...,(1980)
29,\n30.\n\nToy Story\n(1995)\n\n,\n\n 8.3\n ...,(1995)
30,\n31.\n\nAmadeus\n(1984)\n\n,\n\n 8.4\n ...,(1984)
31,\n32.\n\nCoco\n(I) (2017)\n\n,\n\n 8.4\n ...,(I) (2017)
32,\n33.\n\nAmerican History X\n(1998)\n\n,\n\n 8.5\n ...,(1998)
33,\n34.\n\nThe Pianist\n(2002)\n\n,\n\n 8.5\n ...,(2002)
34,\n35.\n\nCasablanca\n(1942)\n\n,\n\n 8.5\n ...,(1942)
35,\n36.\n\nThe Intouchables\n(2011)\n\n,\n\n 8.5\n ...,(2011)
36,\n37.\n\n2001: A Space Odyssey\n(1968)\n\n,\n\n 8.3\n ...,(1968)
37,\n38.\n\nLa vita Ã¨ bella\n(1997)\n\n,\n\n 8.6\n ...,(1997)
38,\n39.\n\nOnce Upon a Time in the West\n(1968)\n\n,\n\n 8.5\n ...,(1968)
39,"\n40.\n\nIl buono, il brutto, il cattivo\n(196...",\n\n 8.8\n ...,(1966)
40,\n41.\n\nCidade de Deus\n(2002)\n\n,\n\n 8.6\n ...,(2002)
41,\n42.\n\nThe Lord of the Rings: The Two Towers...,\n\n 8.8\n ...,(2002)
42,\n43.\n\nJagten\n(2012)\n\n,\n\n 8.3\n ...,(2012)
43,\n44.\n\nTerminator 2: Judgment Day\n(1991)\n\n,\n\n 8.6\n ...,(1991)
44,\n45.\n\nMemento\n(2000)\n\n,\n\n 8.4\n ...,(2000)
45,\n46.\n\nOldeuboi\n(2003)\n\n,\n\n 8.4\n ...,(2003)
46,\n47.\n\nBraveheart\n(1995)\n\n,\n\n 8.4\n ...,(1995)
47,\n48.\n\nNorth by Northwest\n(1959)\n\n,\n\n 8.3\n ...,(1959)
48,\n49.\n\nOne Flew Over the Cuckoo's Nest\n(197...,\n\n 8.7\n ...,(1975)
49,\n50.\n\nSen to Chihiro no kamikakushi\n(2001)...,\n\n 8.6\n ...,(2001)

In [53]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=7FBBWAAGJAQSPCMAVYEJ&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd')
page
#Getting the content from the page 
soup=BeautifulSoup(page.content)
soup
# scrapping the names of the movie
name=[]
for i in soup.find_all('td',class_='titleColumn'):
    name.append(i.text)
name[0:100]
# scrapping the ratings of all the movies 
ratings=[]
for i in soup.find_all('td',class_='ratingColumn imdbRating'):
    ratings.append(i.text)
ratings[0:100]
# scrapping the yaer of movie releases
year=[]
for i in soup.find_all('span',class_='secondaryInfo'):
    year.append(i.text)
year[0:100]
#printing the lengths
print(len(name),len(ratings),len(year))

# making the dataframe 
import pandas as pd
df=pd.DataFrame({'Movie name':name,'Ratings':ratings,'Release year':year})
df.head(100)

250 250 250

                                           Movie name  Ratings Release year
0   \n      1.\n      Ramayana: The Legend of Prin...  \n8.5\n       (1993)
1   \n      2.\n      Rocketry: The Nambi Effect\n...  \n8.4\n       (2022)
2                 \n      3.\n      Golmaal\n(1979)\n  \n8.4\n       (1979)
3             \n      4.\n      777 Charlie\n(2022)\n  \n8.4\n       (2022)
4                 \n      5.\n      Nayakan\n(1987)\n  \n8.4\n       (1987)
..                                                ...      ...          ...
95        \n      96.\n      Kaakkaa Muttai\n(2014)\n  \n8.0\n       (2014)
96           \n      97.\n      Ustad Hotel\n(2012)\n  \n8.0\n       (2012)
97  \n      98.\n      Theeran Adhigaaram Ondru\n(...  \n8.0\n       (2017)
98                \n      99.\n      Angoor\n(1982)\n  \n8.0\n       (1982)
99      \n      100.\n      Rang De Basanti\n(2006)\n  \n8.0\n       (2006)

[100 rows x 3 columns]

In [65]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page
#Getting the content from the page 
soup=BeautifulSoup(page.content)
soup
# Scrapping the former presidents names with their term of office
president=[]
for i in soup.find_all('div',class_='presidentListing'):
    president.append(i.text.split('\n')[0:3])
president

[['',
  'Shri Ram Nath Kovind (birth - 1945)',
  'Term of Office: 25 July, 2017 to 25 July, 2022 '],
 ['',
  'Shri Pranab Mukherjee (1935-2020)',
  'Term of Office: 25 July, 2012 to 25 July, 2017 '],
 ['',
  'Smt Pratibha Devisingh Patil (birth - 1934)',
  'Term of Office: 25 July, 2007 to 25 July, 2012 '],
 ['',
  'DR. A.P.J. Abdul Kalam (1931-2015)',
  'Term of Office: 25 July, 2002 to 25 July, 2007 '],
 ['',
  'Shri K. R. Narayanan (1920 - 2005)',
  'Term of Office: 25 July, 1997 to 25 July, 2002 '],
 ['',
  'Dr Shankar Dayal Sharma (1918-1999)',
  'Term of Office: 25 July, 1992 to 25 July, 1997 '],
 ['',
  'Shri R Venkataraman (1910-2009)',
  'Term of Office: 25 July, 1987 to 25 July, 1992 '],
 ['',
  'Giani Zail Singh (1916-1994)',
  'Term of Office: 25 July, 1982 to 25 July, 1987 '],
 ['',
  'Shri Neelam Sanjiva Reddy (1913-1996)',
  'Term of Office: 25 July, 1977 to 25 July, 1982 '],
 ['',
  'Dr. Fakhruddin Ali Ahmed (1905-1977)',
  'Term of Office: 24 August, 1974 to 11 February, 1977'],
 ['',
  'Shri Varahagiri Venkata Giri (1894-1980)',
  'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974'],
 ['',
  'Dr. Zakir Husain (1897-1969)',
  'Term of Office: 13 May, 1967 to 3 May, 1969'],
 ['',
  'Dr. Sarvepalli Radhakrishnan (1888-1975)',
  'Term of Office: 13 May, 1962 to 13 May, 1967'],
 ['',
  'Dr. Rajendra Prasad (1884-1963) ',
  'Term of Office: 26 January, 1950 to 13 May, 1962']]

In [55]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page
#Getting the content from the page 
soup=BeautifulSoup(page.content)
soup
# scrapping the top 10 ODI teams in men's cricket  
first_title=soup.find('tr',class_='table-body')
first_title
first_title.text
teams =[]
for i in soup.find_all('tr',class_="table-body"):
    teams.append(i.text.split('\n')[4:10])
teams [0:10]

[['England', 'ENG', '', '30', '3,400', '113'],
 ['Australia', 'AUS', '', '32', '3,572', '112'],
 ['India', 'IND', '', '35', '3,866', '110'],
 ['Pakistan', 'PAK', '', '22', '2,354', '107'],
 ['South Africa', 'SA', '', '24', '2,392', '100'],
 ['Bangladesh', 'BAN', '', '30', '2,753', '92'],
 ['Sri Lanka', 'SL', '', '30', '2,677', '89'],
 ['Afghanistan', 'AFG', '', '19', '1,380', '73'],
 ['West Indies', 'WI', '', '41', '2,902', '71'],
 ['Ireland', 'IRE', '', '23', '1,214', '53']]

In [92]:
batsmen_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi').content,'html.parser')



player=[ i.text.strip() for i in batsmen_teams.find_all('td',class_='table-body__cell name')][:10] # Scrap player


team=[ i.text for i in batsmen_teams.find_all('span',class_='table-body__logo-text')][:10] # Scrap Team 

rating=[i.text for i in batsmen_teams.find_all('td',class_='table-body__cell u-text-right rating')][:10] # Scrap Rating

batsmen=pd.DataFrame({'Player':player,'Team':team,'Ratings':rating})

batsmen

                  Player Team Ratings
0            Imam-ul-Haq  PAK     779
1  Rassie van der Dussen   SA     766
2        Quinton de Kock   SA     759
3           David Warner  AUS     747
4            Steve Smith  AUS     719
5         Jonny Bairstow  ENG     710
6            Virat Kohli  IND     707
7           Rohit Sharma  IND     704
8        Kane Williamson   NZ     701
9         Josh Hazlewood  AUS     727

In [112]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

#Getting the content from the page 
bowlers_team=BeautifulSoup(page.content)
bowlers_team

# scrapping the top 10 ODI bowlers 
players=[]
for i in bowlers_team.find_all('td',class_='table-body__cell rankings-table__name name'):

    players.append(i.text.split('\n'))
players[0:10]

# scrapping the team 
teams=[]
for i in bowlers_team.find_all('span',class_='table-body__logo-text'):

    teams.append(i.text)
teams[0:10]

# scrapping the ratings 
ratings=[]
for i in bowlers_team.find_all('td',class_='table-body__cell rating'):

    ratings.append(i.text)
ratings[0:10]

# making the dataframe
import pandas as pd
bowlers=pd.DataFrame({'Players':players,'Teams':teams,'Ratings':ratings})
bowlers[0:10]

                   Players Teams Ratings
0     [, Josh Hazlewood, ]   AUS     727
1     [, Mitchell Starc, ]   AUS     665
2     [, Shaheen Afridi, ]   PAK     661
3         [, Matt Henry, ]    NZ     656
4         [, Adam Zampa, ]   AUS     655
5       [, Mehedi Hasan, ]   BAN     655
6   [, Mujeeb Ur Rahman, ]   AFG     650
7  [, Mustafizur Rahman, ]   BAN     640
8        [, Rashid Khan, ]   AFG     635
9       [, Chris Woakes, ]   ENG     632

In [108]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page
#Getting the content from the page 
women_team=BeautifulSoup(page.content)
women_team
# scrap team
team=[i.text.strip() for i in women_team.find_all('span',class_='u-hide-phablet')][:10]
#scrap matches     
match= [i.text for i in women_team.find_all('td',class_='table-body__cell u-center-text')][:10]
points=[i.text for i in women_team.find_all('td',class_='table-body__cell u-center-text')][:10] # scrap points
ratings=[i.text for i in women_team.find_all('td',class_='table-body__cell u-text-right rating')][:10] # scrap ratings
     
women_odi=pd.DataFrame({'Team':team,'Match':match,'Point':points,'Rating':ratings}) # making dataframe

women_odi

           Team  Match  Point Rating
0     Australia     26     26    119
1  South Africa  3,098  3,098    116
2       England     25     25    104
3         India  2,904  2,904    101
4   New Zealand     27     27     97
5   West Indies  2,820  2,820     78
6    Bangladesh     24     24     72
7      Thailand  2,425  2,425     63
8      Pakistan     24     24     44
9     Sri Lanka  2,334  2,334     39

In [109]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page
#Getting the content from the page 
women_team=BeautifulSoup(page.content)
women_team
# scrap team
player=[i.text.strip() for i in women_team.find_all('td',class_='table-body__cell rankings-table__name name')][:10]
team=[i.text for i in women_team.find_all('span',class_='table-body__logo-text')][:10]
rating=[i.text for i in women_team.find_all('td',class_='table-body__cell rating')][:10]
     
Bating=pd.DataFrame({'Player':player,'Team':team,'Rating':rating})

Bating

                Player Team Rating
0          Beth Mooney  AUS    749
1      Laura Wolvaardt   SA    732
2       Natalie Sciver  ENG    725
3     Harmanpreet Kaur  IND    716
4      Smriti Mandhana  IND    714
5          Meg Lanning  AUS    710
6       Rachael Haynes  AUS    701
7    Amy Satterthwaite   NZ    661
8  Chamari Athapaththu   SL    655
9         Ellyse Perry  AUS    642

In [110]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page
#Getting the content from the page 
women_team=BeautifulSoup(page.content)
women_team
# scrap team
player=[i.text.strip() for i in women_team.find_all('td',class_='table-body__cell rankings-table__name name')][:10]
team=[i.text for i in women_team.find_all('span',class_='table-body__logo-text')][:10]
rating=[i.text for i in women_team.find_all('td',class_='table-body__cell rating')][:10]
     
All_rounders=pd.DataFrame({'Player':player,'Team':team,'Rating':rating})

All_rounders

             Player Team Rating
0      Ellyse Perry  AUS    374
1    Natalie Sciver  ENG    357
2       Amelia Kerr   NZ    356
3    Marizanne Kapp   SA    349
4     Deepti Sharma  IND    322
5  Ashleigh Gardner  AUS    270
6     Jess Jonassen  AUS    246
7    Jhulan Goswami  IND    214
8   Katherine Brunt  ENG    207
9          Nida Dar  PAK    205

In [156]:
page=requests.get('https://www.cnbc.com/search/?query=news&qsearchterm=news') # sending request
page

soup=BeautifulSoup(page.content)# getting content 
soup

headline=[i.text.strip() for i in soup.find_all('span',class_='Card-title')] #scrap headline
time=[i.text for i in soup.find_all('span',class_='SearchResult-publishedDate')] # scrap time
news_link=[i.text for i in soup.find_all('a',class_='resultlink')]# scrap newslink

df=pd.DataFrame({'Headline':headline,'Time':time,'Newslink':news_link})
df

Empty DataFrame
Columns: [Headline, Time]
Index: []

In [147]:
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page
soup=BeautifulSoup(page.content)# getting content 
soup
titles=[i.text for i in soup.find_all('a',class_='sc-5smygv-0 fIXTHm')] #scrap paper titles
authors=[i.text for i in soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO')] # scrap authors name
dates=[i.text for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt')]# scrap published date


df1=pd.DataFrame({'Paper Title':titles,'Authors':authors,'Published date':dates})
df1

,Paper Title,Authors,Published date
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021
1,Making sense of raw input,"Evans, Richard, BoÅ¡njak, Matko and 5 more",October 2021
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998
4,Artificial cognition for social humanârobot in...,"Lemaignan, SÃ©verin, Warnier, Mathieu and 3 more",June 2017
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019
6,Making sense of sensory input,"Evans, Richard, HernÃ¡ndez-Orallo, JosÃ© and 3 more",April 2021
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007
12,Algorithms for computing strategies in two-pla...,"BoÅ¡anskÃ½, Branislav, LisÃ½, Viliam and 3 more",August 2016
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, LÃ¸land, Anders",September 2021
17,A review of possible effects of cognitive bias...,"Kliegr, TomÃ¡Å¡, BahnÃ­k, Å tÄpÃ¡n, FÃ¼rnkranz, Joha...",June 2021
18,Integrating social power into the decision-mak...,"Pereira, GonÃ§alo, Prada, Rui, Santos, Pedro A.",December 2016
19,âThat's (not) the output I expected!â On the r...,"Riveiro, Maria, Thill, Serge",September 2021
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010

In [148]:
url=[] # scrap paper urls
for i in soup.find_all('a'):
    print(i.get('href'))

#skip-to-content-anchor
http://www.elsevier.com
https://account.elsevier.com/auth
https://elsevier.com/about
https://www.elsevier.com/connect
https://www.elsevier.com/about/careers
https://elsevier.com/about
https://www.elsevier.com/connect
https://www.elsevier.com/about/careers
https://www.elsevier.com/rd-solutions
https://www.elsevier.com/clinical-solutions
https://www.elsevier.com/research-platforms
https://www.elsevier.com/research-intelligence
https://www.elsevier.com/education
https://www.elsevier.com/solutions
https://www.elsevier.com/rd-solutions
https://www.elsevier.com/clinical-solutions
https://www.elsevier.com/research-platforms
https://www.elsevier.com/research-intelligence
https://www.elsevier.com/education
https://www.elsevier.com/solutions
https://www.elsevier.com/authors
https://www.elsevier.com/editors
https://www.elsevier.com/reviewers
https://www.elsevier.com/librarians
https://www.elsevier.com/strategic-partners
https://www.elsevier.com/open-access
https://www.elsevier.com/societies
https://www.elsevier.com/authors
https://www.elsevier.com/editors
https://www.elsevier.com/reviewers
https://www.elsevier.com/librarians
https://www.elsevier.com/strategic-partners
https://www.elsevier.com/open-access
https://www.elsevier.com/societies
https://www.elsevier.com/books-and-journals
https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop
https://www.elsevier.com/books-and-journals
https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop
https://global-checkout.elsevier.com
https://account.elsevier.com/auth
https://www.sciencedirect.com/science/journal/00043702
https://www.editorialmanager.com/artint/default.aspx
https://www.elsevier.com/
https://www.elsevier.com/search-results?labels=journals
/artificial-intelligence
/artificial-intelligence/most-downloaded-articles
https://www.sciencedirect.com/science/journal/00043702
https://www.editorialmanager.com/artint/default.aspx
https://www.sciencedirect.com/science/journal/00043702
https://www.elsevier.com/journals/artificial-intelligence/0004-3702/guide-for-authors
https://www.editorialmanager.com/artint/default.aspx
https://authors.elsevier.com/tracking/landingpage/selection.do
https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional
https://www.sciencedirect.com/science/article/pii/S0004370221000862
https://www.sciencedirect.com/science/article/pii/S0004370221000722
https://www.sciencedirect.com/science/article/pii/S0004370215000910
https://www.sciencedirect.com/science/article/pii/S0004370298000551
https://www.sciencedirect.com/science/article/pii/S0004370216300790
https://www.sciencedirect.com/science/article/pii/S0004370218305988
https://www.sciencedirect.com/science/article/pii/S0004370220301855
https://www.sciencedirect.com/science/article/pii/S0004370214001386
https://www.sciencedirect.com/science/article/pii/S0004370299000521
https://www.sciencedirect.com/science/article/pii/S0004370219300116
https://www.sciencedirect.com/science/article/pii/S0004370220301533
https://www.sciencedirect.com/science/article/pii/S0004370207000793
https://www.sciencedirect.com/science/article/pii/S0004370216300285
https://www.sciencedirect.com/science/article/pii/S0004370220301958
https://www.sciencedirect.com/science/article/pii/S0004370297000635
https://www.sciencedirect.com/science/article/pii/S0004370221000515
https://www.sciencedirect.com/science/article/pii/S0004370221000539
https://www.sciencedirect.com/science/article/pii/S0004370221000096
https://www.sciencedirect.com/science/article/pii/S0004370216300868
https://www.sciencedirect.com/science/article/pii/S0004370221000588
https://www.sciencedirect.com/science/article/pii/S0004370221000102
https://www.sciencedirect.com/science/article/pii/S0004370213001082
https://www.sciencedirect.com/science/article/pii/S000437029700043X
https://www.sciencedirect.com/science/article/pii/S0004370221000734
https://www.sciencedirect.com/science/article/pii/S0004370209001398
https://www.sciencedirect.com/science/journal/00043702
https://www.sciencedirect.com/user/alerts
https://www.sciencedirect.com/user/register?utm_campaign=sd_recommender_ELSJLS&utm_channel=elseco&dgcid=sd_recommender_ELSJLS
http://www.elsevier.com/authors/home
https://www.editorialmanager.com/artint/default.aspx
https://www.editorialmanager.com/artint/default.aspx
https://researcheracademy.elsevier.com
https://www.elsevier.com/about/policies/copyright/permissions
https://webshop.elsevier.com
https://service.elsevier.com/app/home/supporthub/publishing/#authors
https://authors.elsevier.com/tracking/landingpage/selection.do
https://www.elsevier.com/librarians
https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional
http://www.elsevier.com/editors
http://www.elsevier.com/editors/perk
https://www.elsevier.com/editors/guest-editors
https://service.elsevier.com/app/home/supporthub/publishing/#editors
http://www.elsevier.com/reviewers
https://www.elsevier.com/reviewers/how-to-review
https://www.editorialmanager.com/artint/default.aspx
https://www.elsevier.com/reviewers/becoming-a-reviewer-how-and-why#recognizing
https://service.elsevier.com/app/home/supporthub/publishing/#reviewers
https://www.elsevier.com
//www.elsevier.com/legal/elsevier-website-terms-and-conditions
//www.elsevier.com/legal/privacy-policy
//www.elsevier.com/legal/cookienotice
//www.elsevier.com/sitemap
https://www.relx.com/

In [152]:
# Sending request to the webpage server to get the source code 
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page
#Getting the content from the page 
rst=BeautifulSoup(page.content)
rst
# scrap team
Restaurant=[i.text.strip() for i in rst.find_all('a',class_='restnt-name ellipsis')]
Cuisine=[i.text for i in rst.find_all('span',class_='double-line-ellipsis')]
Location=[i.text for i in rst.find_all('div',class_='restnt-loc ellipsis')]
Rating=[i.text for i in rst.find_all('div',class_='restnt-rating rating-4')]
Image_url=[i.get('data-src') for i in rst.find_all('img',class_='no-img')]

           
restaurant=pd.DataFrame({'Restaurant Names':Restaurant,'Cuisine':Cuisine,'Location':Location,'Ratings':Rating,'Image URL': Image_url})
restaurant

,Restaurant Names,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"â¹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"â¹ 1,680 for 2 (approx) | North Indian, Asian, ...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"â¹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"â¹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"â¹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"â¹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"â¹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"â¹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"â¹ 2,200 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [154]:
page=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en') # sending request
page

soup=BeautifulSoup(page.content)# getting content 
soup

rank=[i.text.strip() for i in soup.find_all('td',class_='gsc_mvt_p')] 
publication=[i.text for i in soup.find_all('td',class_='gsc_mvt_t')] 
h5_index=[i.text for i in soup.find_all('td',class_='gsc_mvt_n')]
h5_median=[i.text for i in soup.find_all('span',class_='gs_ibl gsc_mp_anchor')]

df=pd.DataFrame({'Rank':rank,'Publication':publication,'H5 Index':h5_index,'H5 Median':h5_median})
df

ValueError: All arrays must be of the same length